#main_container{
	width: 1920px;
	height: 1080px;
	perspective:800px;
}

.background {
/*	background-image: url( "img/landscape_training.jpg");*/
	background-color: #DA5;
	background-repeat: no-repeat;
}
.ARM_div {
	position:absolute;
}


#product_supporter {
	/*background-color: #AAA;
*/	width: 600px;
	height: 850px ;
	top:100px;
	left:150px;

}

#productImg{
	width: 600px;
	height:850px;
}


#text_suporter {
	background-color: #AAA;
	width: 800px;
	height: 850px ;
	top:100px;
	left:900px;
	opacity:0.8;
}


#descripcion{

margin:50px;
  font-size:40px;
  line-height:50px;
  color:#222;
}

#precio{
  position:absolute;
  bottom:80px;
  left:100px;
  font-size:200px;
  line-height:50px;
  color:#222;
}


body {

}