@font-face {
    font-family: albertus;
    src: url('fuentes/Albertus.ttf') format("truetype");
}


html {
    overflow:hidden;
    margin:0;
    padding:0; 
}

body {
    font-family: arial;
    color: #00000;
    text-align: center;
    background-color:white;
    height:100%;
    width:100%;  
    margin:0;
    padding:0;
}

ol {
    margin-left: 0.5em;
}

ul {
    margin-left: 0.75em;    
}
#main {
    position:fixed;
    top:0px;
    left:0px;
    width: 1920px;
    height: 1080px;
}
#background {
    position:fixed;
    top:0px;
    left:0px;
    width: 1920px;
    height: 1080px;
}

.blink {
    -webkit-animation: blink 2s linear infinite;
    -moz-animation: blink 2s linear infinite;
    animation: blink 2s linear infinite;
}
@keyframes blink {
       0% { opacity:1; }
       50% { opacity:0.2; }
       100% { opacity: 1; }
}
@-webkit-keyframes  blink {
       0% { opacity:1; }
       50% { opacity:0.2; }
       100% { opacity: 1; }
}
@-moz-keyframes  blink {
       0% { opacity:1; }
       50% { opacity:0.2; }
       100% { opacity: 1; }
}

